@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yomogi&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/* App */
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.Sidebar {
  background-color:white;
  width: 300px;
  min-width: 150px;
  height: 100%;
}

/* Main */
.Main {
  width: 100%;
  height: 100%;
  background-image: url('./images/pozadina.jpg');
  background-repeat: no;
  background-size: cover;
}

/*User*/
.User{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.User .logo img {
  height: auto;
  width: 150px;
  max-width: 100%;
  padding-right: 2rem;
}

.User .info p{
  font-size: 1.1rem;
  font-weight: bold;
}

.User .info p{
  font-size: 1.1rem;
  font-weight: bold;
}

.User .info a{
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

/*Modal*/
.Modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);

}

.Modal .container{
position:absolute;
top: 25%;
left: 50%;
transform: translate(-50%,-25%);
}
/*AddNewTodo*/
.AddNewTodo {
  border-bottom: solid 1px #ebebeb;
}

.AddNewTodo .btn{
  padding: 1rem;
  width: 100%;
  height: 80px;
}

.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color:olivedrab;
  color:white;
  font-weight: bold;
  cursor: pointer;
}

.AddNewTodo .btn button:hover {
filter: brightness(1.1);
transition: all 400ms ease;
}

/*AddNewTodo*/
.AddNewTodo form {
/* trebamo odrediti granicu za bottom padding, jer ce inace button prekriti dio projekta ako ih ima dosta*/
/*uzet cemo height buttona(50px) + 1rem kao i ostali padding za formu*/
padding: 1rem 1rem calc(1rem + 50px) 1rem;
width: 500px;
background: white;
border-radius: 4px;
}

.AddNewTodo form .text input{
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.AddNewTodo form .text input:focus{
outline: none;
border-bottom: 1px solid blue;
}

.AddNewTodo form .remind{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.AddNewTodo form p{
  margin-left: 10px;
}

.AddNewTodo form .title{
  display: flex;
  align-items: center;
  padding: 5px;
}

.AddNewTodo form .pickDay{
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.AddNewTodo form .pickTime{
  padding: 1.5rem;
}
.AddNewTodo form .pickProject{
  padding: 0.5rem;
}
/*ako ima dosta projekta izac ce izvan forme, treba wrapat*/
.AddNewTodo form .pickProject .projects{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;


}
.AddNewTodo form .pickProject .projects .project{
  border: 1px solid olivedrab;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.AddNewTodo form .pickProject .projects .active{
background-color: blue;
color: white;
}

.AddNewTodo form .cancel{
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.AddNewTodo form .confirm{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

.AddNewTodo form .confirm button{
  width: 100%;
  height: 50px;
  background-color: rgba(107, 142, 35, 0.8);
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  }

  /*Calendar + projects*/
  .Calendar,
  .projects {
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;
  }
  .Calendar .header,
  .projects .header {
    display: flex;
    align-items: center;
  }
  .Calendar .header .title,
  .projects .header .title {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .Calendar .header .title p,
  .projects .header .title p{
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .Calendar .header .buttons span{
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects .header .buttons span{
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    margin-left: 0.3rem;
  }
  .Calendar .header .buttons span:hover,
  .projects .header .buttons span:hover {
    background-color: #ebebeb;
    transition: all 400ms ease-in-out;
  }
  .Calendar .items,
  .projects .items {
    padding: 0.5rem;
  }
  .Calendar .items .item,
  .projects .items .item{
    padding: 0.25rem;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  /*AddNewProject*/
